<!DOCTYPE html>
<html lang="en">
  <head>
      <%- include('./partials/head') %>
  </head>
  <body>
    <%- include('./partials/navbar.ejs') %>
    <header class="contact-header">
      <h1>Carrito</h1>
    </header>
    <section class="section-contact">Importante! Una vez presiones el boton "Enviar pedido", si esta en celular lo redirigira a whatsapp con un mensaje personalizado y solo debera presionar enviar dentro de la app. Nosotros lo atenderemos!
    </section>
    <main>
      <% if (products.length != 0) { %>
        <div class="carrito-product-container">
          <% products.forEach(product => { %>
            <div class="carrito-product">
              <h5><%=product.name%></h5>
              <p>$<%= product.price %></p>
              <a href="/shop/carrito/delete/<%= product.id %>">Eliminar</a>
            </div>
          <% }) %>
        </div>
        <p class="msg-carrito">Envianos captura de tu carrito al whatsapp y tomaremos tu pedido o consuta!</p>
        <div class="btn-carrito-container">
          <a href="https://wa.me/543364007199" class="btn btn-success">Nuestro whatsapp!</a>
        </div>
      <% } else { %>
        <h5 style="margin: 0 auto; text-align: center; width: 90%; padding: 1rem; border: 1px solid rgb(171, 171, 171); border-radius: .4rem;">No agregaste ningun producto!</h5>
      <% } %> 

    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>