<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
</head>
<body>
    <%- include('./partials/navbar.ejs') %>
    <header class="home-header">
      <div class="home-header-container">
        <h1>MOON PROYECT</h1>
        <p class="home-header-frase">La luna es solo un pequeño paso</p>
        <a href="https://goo.gl/maps/7mJmFirC8KfCMPr46"><p class="home-header-ubication"><i class="fa-solid fa-location-dot"></i> San Nicolás de los Arroyos</p></a>
      </div>
    </header>
    
    <main class="home-main">
      <h2>Marcas populares!</h2>
      <section class="home-marks">
        <a href="/shop?filter=Nike" class="mark-container"><div></div></a>
        <a href="/shop?filter=Adidas" class="mark-container"><div></div></a>
        <a href="/shop?filter=Converse" class="mark-container"><div></div></a>
        <a href="/shop?filter=IMP" class="mark-container"><div></div></div></a>
      </section>
      <!-- <div style="width: 90%;height: 2px;background-color: rgb(208, 208, 208);margin: 3rem auto;border-radius: 1rem;"></div> -->
      <section class="home-header" style="margin-top: 3rem; border-radius: 3rem;max-height: 250px;" >
        <div class="home-header-container" style="border-radius: 3rem;max-height: 250px;">
          <h1>OFERTAS</h1>
          <p class="home-header-frase">Precios por encargues!</p>
        </div>
      </section>
      <section class="home-oferts" style="margin-top: 3rem;">
        <% if (products.length !=0) { %>
          <% products.forEach(product => { %>
              <div class="card card-container">
                  <img src="<%= product.image %>" class="card-img-top" alt="<%= product.name %>">
                  <div class="card-body">
                    <h5 class="card-title"
                    style="font-size: 1.1rem;"
                    ><%= product.name %></h5>
  
                    <p class="card-text"
                    style="font-size: 1rem;"
                    >Talles del <%= product.talla %></p>
                    <p class="card-text"
                    style="font-size: 1.1rem; font-weight: bold; margin-top: .4rem;"
                    ><span style="text-decoration: line-through;">$<%= product.price%></span> <span style="margin-left: .5rem;color:orange;">$<%= product.price*(1-(product.discount/100)) %></span></p>
                  </div>
              </div>
          <% }) %>
      <% } else { %>
          <div>
              <h3 style="height: 320px;">No se encontraron resultados!</h3>
          </div>
      <% } %>
      </section>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>