<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
</head>
<body>
    <%- include('./partials/navbar.ejs') %>
    <header>
        <div class="nav-item dropdown">
            <h1 class="title">Catálogo</h1> 
            <!-- <div class="carrito-button">
                <a href="/shop/carrito">Ir al carrito <i class="fa-solid fa-cart-shopping"></i> </a>
            </div> -->
            <!-- <p>Para realizar un pedido sigue los siguentes pasos: Primero añade el/los productos que desees al carrito, luego ve al carrito en la parte superion derecha de la página. Por ultimo dentro del carrito, presiona enviar pedido. Te llevara a Whatsapp donde solo debes enviar el msj qu </p> -->
            <a class="nav-link dropdown-toggle filter-button" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Filtros
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/shop?filter=Nike">Nike</a></li>
                  <li><a class="dropdown-item" href="/shop?filter=Adidas">Adidas</a></li>
                  <li><a class="dropdown-item" href="/shop?filter=Converse">Converse</a></li>
                  <li><a class="dropdown-item" href="/shop?filter=Puma">Puma</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/shop">Ver todo...</a></li>
              </ul>
          </div>
    </header>
    <main class="main-container">
        <% if (products.length !=0) { %>
            <% products.forEach(product => { %>
                <div class="card card-container">
                    <img src="<%= product.image %>" class="card-img-top" alt="<%= product.name %>">
                    <div class="card-body">
                      <h5 class="card-title"
                      style="font-size: 1.1rem;"
                      ><%= product.name %></h5>
    
                      <p class="card-text"
                      style="font-size: 1rem;"
                      >Talles del <%= product.talla %></p>
                      <p class="card-text"
                      style="font-size: 1.1rem; font-weight: bold"
                      >$<%= product.price %></p>
                      <!-- <div class="card-button-container">
                        <a href="/shop?carrito=<%=product.id%> " class="btn btn-primary">Agregar al carrito</a>
                      </div> -->
                    </div>
                </div>
            <% }) %>
        <% } else { %>
            <div>
                <h3 style="height: 320px;">No se encontraron resultados!</h3>
            </div>
        <% } %>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>